@use "./typography" as *;
@use "./variables" as *;

@mixin page-header{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    font-family: 'Titillium';
}

@mixin subheader{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    font-family: 'Titillium';
}

@mixin smallheader {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    font-family: 'Titillium';
}

@mixin label-buttons{
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.375rem;
    font-family: 'Titillium';
}

@mixin body-large-desktop{
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.75rem;
    font-family: 'Titillium';
}

@mixin body-medium{
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.375rem;
    font-family: 'Titillium';
}

@mixin body-small{
    font-size: 0.75rem;
    font-weight: normal;
    line-height: 1.125rem;
    font-family: 'Titillium';
}

@mixin button-style {
    color: $White;
    background-color: $Black;
    border: none;
    border-radius: 2px;
}

@mixin button-hover {
    border: 2px solid $Black;
    color: $Black;
    background-color: $White;
    cursor: pointer;
}