@use '../styles/partials/mixins' as *;
@use '../styles/partials/variables' as *;

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

// Navigation Styling
.nav {
    // background-image: url(../assets/images/Studio_Ghibli_logo.svg.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // width: 100vw;
    // height: 20rem;

    &__image {
        width: 100vw;
        height: 22rem;

        @include mobile {
            height: 17rem;
        }
    }
}

// Styling for body content
.content {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-items: baseline;

    @include mobile {
        display: unset;
        flex-direction: unset;
        align-items: unset;
    }

    &__nav {
        width: 40%;
        height: 100vh;
        margin-left:2rem;

        @include mobile {
            display: none;
        }

        &--title {
            @include subheader;
        }
    }
    &__body {
        width: 60%;

        @include mobile {
            width: 100%;
        }

        &--title {
            @include page-header;
            text-align: center;

            @include mobile {
                @include subheader;
            }
        }
    }
    &__list {
        @include smallheader;
        list-style: none;
        padding: 0;

        & > li {
            cursor: pointer;
            margin: 5% 0%;
        }
    }
}