@use '../styles/partials/mixins' as *;
@use '../styles/partials/variables' as *;

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    cursor: url(../assets/images/nofacenotactive.png),auto;
}

// Navigation Styling
.nav {
    // background-image: url(../assets/images/Studio_Ghibli_logo.svg.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // width: 100vw;
    // height: 20rem;
    text-align: center;

    &__image {
        width: 45rem;
        height: 22rem;

        @include mobile {
            height: 100%;
            width: 100%;
        }
    }
}

// Styling for body content
.content {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    align-items: baseline;
    padding: 0rem 3rem;

    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: unset;
        padding: 0rem 1rem;
    }
    // Side Navigation Styling
    &__nav {
        width: 40%;
        margin-left:2rem;

        @include mobile {
            width: 100%;
            height: auto;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--title {
            @include subheader;

            @include mobile {
                margin-bottom: 0%;
            }
        }

        // Styling for menu button only in mobile
        &--button {
            @include desktop {
                display: none;
            }
            @include tablet {
                display: none;
            }
            @include page-header;
            @include button-style;
            width: 100%;
            height: 4rem;
            margin-top: 1rem;

            &:hover {
                @include button-hover;
            }
        }
    }
    &__contents {
        &--title {
            @include subheader;

            @include mobile {
                @include smallheader;
            }
        }
        &--text {
            @include body-large-desktop;

            @include mobile {
                @include body-medium;
            }
        }
        &--subtitle {
            @include page-header;
        }
        &--button {
            @include smallheader;
            @include button-style;

            &:hover {
                @include button-hover;
            }
        }
        &--image {
            display: block;
            margin: 5% auto;
            width: 20rem;
            height: 30rem;

            @include mobile {
                width: 13rem;
            height: 20rem;
            }
        }
    }
    &__body {
        width: 60%;

        @include mobile {
            width: 100%;
        }

        &--title {
            @include page-header;
            text-align: center;

            @include mobile {
                @include subheader;
            }
        }
    }
    // Styling for list starts here
    &__list {
        @include smallheader;
        list-style: none;
        padding: 0%;

        @include mobile {
            margin-top: 0;
        }

        & > li {
            padding: 0%;
            @include desktop {
                width: fit-content;
            }
            @include tablet {
                width: fit-content;
            }
            cursor: url(../assets/images/nofaceactive.png),pointer;
            margin: 5% 0%;

            &:hover {
                border-top: 1px solid $Black;
                border-bottom: 1px solid $Black;
            }
        }
    }
}

.hide--content {
    display: block;
    @include mobile {
        display: none;
    }
}

// List bullet style
.howl {
    list-style-image: url(../assets/images/howl.png);
    padding-left: 2rem;
}
.laputa {
    list-style-image: url(../assets/images/laputa.png);
    padding-left: 2rem;
}
.noface {
    list-style-image: url(../assets/images/noface.png);
    padding-left: 2rem;
}
.porco {
    list-style-image: url(../assets/images/porco.png);
    padding-left: 2rem;
}
.princess {
    list-style-image: url(../assets/images/princess.png);
    padding-left: 2rem;
}
.totoro {
    list-style-image: url(../assets/images/totoro.png);
    padding-left: 2rem;
}
.cat {
    list-style-image: url(../assets/images/cat.png);
    padding-left: 2rem;
}
.nausicaa {
    list-style-image: url(../assets/images/nausicaa.png);
    padding-left: 2rem;
}
.ponyo {
    list-style-image: url(../assets/images/ponyo.png);
    padding-left: 2rem;
}