@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-Regular.woff") format("woff"), url("../../assets/fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.woff") format("woff"), url("../../assets/fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: url(../assets/images/nofacenotactive.png), auto;
}

.nav {
  text-align: center;
}
.nav__image {
  width: 45rem;
  height: 22rem;
}
@media screen and (max-width: 767px) {
  .nav__image {
    height: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: baseline;
  padding: 0rem 3rem;
}
@media screen and (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: unset;
    padding: 0rem 1rem;
  }
}
.content__nav {
  width: 40%;
  margin-left: 2rem;
}
@media screen and (max-width: 767px) {
  .content__nav {
    width: 100%;
    height: auto;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content__nav--title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  font-family: "Titillium";
}
@media screen and (max-width: 767px) {
  .content__nav--title {
    margin-bottom: 0%;
  }
}
.content__nav--button {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  font-family: "Titillium";
  color: #FFFFFF;
  background-color: #13182C;
  border: none;
  border-radius: 2px;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .content__nav--button {
    display: none;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .content__nav--button {
    display: none;
  }
}
.content__nav--button:hover {
  border: 2px solid #13182C;
  color: #13182C;
  background-color: #FFFFFF;
  cursor: url(../../assets/images/nofaceactive.png), pointer;
}
.content__contents--title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  font-family: "Titillium";
}
@media screen and (max-width: 767px) {
  .content__contents--title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    font-family: "Titillium";
  }
}
.content__contents--text {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.75rem;
  font-family: "Titillium";
}
@media screen and (max-width: 767px) {
  .content__contents--text {
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.375rem;
    font-family: "Titillium";
  }
}
.content__contents--subtitle {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  font-family: "Titillium";
}
@media screen and (max-width: 767px) {
  .content__contents--subtitle {
    font-size: 5vw;
    margin: 3% 0%;
  }
}
.content__contents--button {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  font-family: "Titillium";
  color: #FFFFFF;
  background-color: #13182C;
  border: none;
  border-radius: 2px;
}
.content__contents--button:hover {
  border: 2px solid #13182C;
  color: #13182C;
  background-color: #FFFFFF;
  cursor: url(../../assets/images/nofaceactive.png), pointer;
}
.content__contents--image {
  display: block;
  margin: 5% auto;
  width: 20rem;
  height: 30rem;
}
@media screen and (max-width: 767px) {
  .content__contents--image {
    width: 13rem;
    height: 20rem;
  }
}
.content__body {
  width: 60%;
}
@media screen and (max-width: 767px) {
  .content__body {
    width: 100%;
  }
}
.content__body--title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  font-family: "Titillium";
  text-align: center;
}
@media screen and (max-width: 767px) {
  .content__body--title {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    font-family: "Titillium";
  }
}
.content__list {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  font-family: "Titillium";
  list-style: none;
  padding: 0%;
}
@media screen and (max-width: 767px) {
  .content__list {
    margin-top: 0;
  }
}
.content__list > li {
  padding: 0%;
  cursor: url(../assets/images/nofaceactive.png), pointer;
  margin: 5% 0%;
}
@media screen and (min-width: 1280px) {
  .content__list > li {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .content__list > li {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.content__list > li:hover {
  border-top: 1px solid #13182C;
  border-bottom: 1px solid #13182C;
}

.hide--content {
  display: block;
}
@media screen and (max-width: 767px) {
  .hide--content {
    display: none;
  }
}

.howl {
  list-style-image: url(../assets/images/howl.png);
  padding-left: 2rem;
}

.laputa {
  list-style-image: url(../assets/images/laputa.png);
  padding-left: 2rem;
}

.noface {
  list-style-image: url(../assets/images/noface.png);
  padding-left: 2rem;
}

.porco {
  list-style-image: url(../assets/images/porco.png);
  padding-left: 2rem;
}

.princess {
  list-style-image: url(../assets/images/princess.png);
  padding-left: 2rem;
}

.totoro {
  list-style-image: url(../assets/images/totoro.png);
  padding-left: 2rem;
}

.cat {
  list-style-image: url(../assets/images/cat.png);
  padding-left: 2rem;
}

.nausicaa {
  list-style-image: url(../assets/images/nausicaa.png);
  padding-left: 2rem;
}

.ponyo {
  list-style-image: url(../assets/images/ponyo.png);
  padding-left: 2rem;
}/*# sourceMappingURL=index.css.map */